tensorflow
dvc
pandas
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
mlflow==1.26.1
wheel
-e .

## Dev requirements
pytest==7.1.3 ##unit and integration test purpose
tox==3.25.1   ##check for typing error
black==22.8.0 ##Any other Mistake [like extra space etc.]
flake8==5.0.4 ##Help to create different environment and test locally
mypy==0.971   ##Formatting Purpose




